body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

a {
  text-decoration: none;
  color: #007BFF;
  margin-top: 20px;
  display: inline-block;
}

h2 {
  color: #333;
  text-align: center;
}

.container {
  padding: 0 20px;
}